# Geographical regression of Greek proverbs

* Using a collection of proverbs from the [Hellenic Folklore Research Centre](http://www.kentrolaografias.gr/) of the Academy of Athens
* Employing text regression to estimate the lat/lon of proverbs whose information is not known.
* Studying feature importance, i.e., terms that distinguish spatially, from South to North, from West to East.
* Experimenting with multiple train/test splits for statistical significance.
---

In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, ExtraTreesRegressor
import ast

In [38]:
reg_models = {'el':[], 'nn':[], 'rf':[], 'lr':[], 'xt':[]}
scores = {m:{'mse':{'lat':[], 'lon':[]}, 'mae':{'lat':[], 'lon':[]}} for m in reg_models}
for i in range(2,6):
    balanced_corpus = pd.read_csv(f"data/ssig/balanced_corpus_{i}.csv", index_col=0).reset_index()
    train, test = train_test_split(balanced_corpus, test_size=0.05, random_state=2023)
    train, dev = train_test_split(train, test_size=test.shape[0], random_state=2023)
    
    vect = TfidfVectorizer(ngram_range=(1,1), analyzer="word", max_df=0.5, min_df=10, lowercase=True)
    vect.fit(train.text.values)
    
    # elastic
    el_reg_best_params = {'alpha': 0.0006167913176584872, 'l1_ratio': 0.7277034948352414}
    el_reg = Pipeline([('vect', vect), ('reg', ElasticNet(**elastic_best_params))])
    el_reg.fit(train.text.values, train[["lat", "lon"]].values)    
    reg_models['el'] = el_reg
        
    # knn
    nn_reg_best_params = {'n_neighbors': 22, 'weights': 'uniform', 'p': 2}
    nn_reg = Pipeline([('vect', vect), ('reg', KNeighborsRegressor(**nn_reg_best_params))])
    nn_reg.fit(train.text.values, train[["lat", "lon"]].values)    
    reg_models['nn'] = nn_reg

    # forest
    rf_reg_best_params = {'n_estimators': 401, 'max_depth': 32, 'min_samples_split': 3, 'min_samples_leaf': 6}
    rf_reg = Pipeline([('vect', vect), ('reg', RandomForestRegressor(**rf_reg_best_params))])
    rf_reg.fit(train.text.values, train[["lat", "lon"]].values)    
    reg_models['rf'] = rf_reg
    
    # extra trees
    xt_reg_best_params = {'n_estimators': 300, 'max_depth': 32, 'min_samples_split': 7, 'min_samples_leaf': 8}
    xt_reg = Pipeline([('vect', vect), ('reg', ExtraTreesRegressor(**xt_reg_best_params))])
    xt_reg.fit(train.text.values, train[["lat", "lon"]].values)    
    reg_models['xt'] = xt_reg

    # linear regression
    lr_reg = Pipeline([('vect', vect), ('reg', LinearRegression())])
    lr_reg.fit(train.text.values, train[["lat", "lon"]].values)    
    reg_models['lr'] = lr_reg

    for model_name in reg_models:
        regressor = reg_models[model_name]
        preds = regressor.predict(test.text.values)
        mae_lat, mae_lon = (mean_absolute_error(test.lat.values, preds[:, 0]), 
                            mean_absolute_error(test.lon.values, preds[:, 1]))
        mse_lat, mse_lon = (mean_squared_error(test.lat.values, preds[:, 0]), 
                            mean_squared_error(test.lon.values, preds[:, 1]))
        scores[model_name]['mae']['lat'].append(mae_lat)
        scores[model_name]['mae']['lon'].append(mae_lon) 
        scores[model_name]['mse']['lat'].append(mse_lat)
        scores[model_name]['mse']['lon'].append(mse_lon)

In [44]:
pd.DataFrame({'mae-lon':pd.DataFrame({m:scores[m]['mae']['lon'] for m in reg_models}).mean(),
              'mae-lat':pd.DataFrame({m:scores[m]['mae']['lat'] for m in reg_models}).mean(),
              'mse-lon':pd.DataFrame({m:scores[m]['mse']['lon'] for m in reg_models}).mean(),
              'mse-lat':pd.DataFrame({m:scores[m]['mse']['lat'] for m in reg_models}).mean()})

     mae-lon   mae-lat   mse-lon   mse-lat
el  1.850706  1.307292  5.905962  2.671281
nn  2.028684  1.376951  7.243806  2.942564
rf  1.857484  1.326000  6.096185  2.802763
lr  1.893441  1.308812  6.104416  2.691881
xt  1.852349  1.325618  6.111774  2.793913

In [45]:
pd.DataFrame({'mae-lon':pd.DataFrame({m:scores[m]['mae']['lon'] for m in reg_models}).sem(),
              'mae-lat':pd.DataFrame({m:scores[m]['mae']['lat'] for m in reg_models}).sem(),
              'mse-lon':pd.DataFrame({m:scores[m]['mse']['lon'] for m in reg_models}).sem(),
              'mse-lat':pd.DataFrame({m:scores[m]['mse']['lat'] for m in reg_models}).sem()})

     mae-lon   mae-lat   mse-lon   mse-lat
el  0.007515  0.005404  0.064809  0.020608
nn  0.026019  0.014838  0.092368  0.064368
rf  0.011556  0.001723  0.075088  0.012675
lr  0.009027  0.013670  0.124017  0.049257
xt  0.015390  0.002864  0.098999  0.015143